@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #0e1624;
  overflow-x: hidden;
}

link {
  text-decoration: none;
}

header {
  z-index: 999999999999;
  filter: drop-shadow(0px 30px 53px rgba(0, 0, 0, 0.15));
}

::selection {
  color: white;
  background: #9ccff533;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: #0e1624;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0e1624 0%, rgba(23, 76, 169, 0.12) 100%);
  border-radius: 100px;
}

*::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

.herodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 5px; */
  z-index: 999999;
}

.hero-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* identical to box height */
  color: #afb7c5;
}

.heroHeading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;

  line-height: 72px;
  text-align: center;

  background: linear-gradient(94.71deg, #3295e3 7.1%, #2bc7bf 97.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.heroDescription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;

  /* line-height: 35px; */
  text-align: center;
  color: #cad2e0;
}

.gradient1 {
  position: absolute;
  width: 261.81px;
  height: 250px;
  left: -132.69px;
  top: 200px;
  background: linear-gradient(
    180deg,
    #ed3683 0%,
    rgba(43, 124, 219, 0.81) 100%
  );
  filter: blur(125px);
  z-index: 0;
}

.gradient2 {
  position: absolute;
  width: 200px;
  height: 150px;
  right: 0px;
  top: 200px;
  background: linear-gradient(
    180deg,
    #ed3683 0%,
    rgba(43, 124, 219, 0.81) 100%
  );
  filter: blur(125px);
  z-index: 0;
}

.button-gradient {
  background: linear-gradient(89.83deg, #7d6bd3 6.6%, #20a4c8 93.62%);
}

/* Skills Section */

.skill-box {
  background: rgba(19, 28, 45, 0.81);
  border-radius: 10px;
  filter: drop-shadow(0px 30px 53px rgba(0, 0, 0, 0.15));
}

/* .skill-gradient {
  position: absolute;
  width: 800px;
  height: 350px;

  background: linear-gradient(
    180deg,
    #ed3683 0%,
    rgba(43, 124, 219, 0.81) 100%
  );
  filter: blur(125px);
  transform: rotate(7.35deg);
} */

.line {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  border: 1px solid rgba(175, 183, 197, 0.2);
  transform: rotate(-180deg);
}

/* Experience Section */
.experience-container {
  padding: 20px 30px;
  width: 370px;
  height: 300px;
  background: rgba(19, 28, 45, 0.81);
  box-shadow: 0px 30px 53px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 999999;
}

.tag-container {
  margin-top: 5px;
  background: rgba(40, 49, 63, 0.8);
  border-radius: 5px;
  padding: 7px 10px;
}

/* .experience-gradient {
  position: absolute;
  width: 180px;
  height: 200px;
  right: -90px;
  top: 90%;
  z-index: 0;

  background: linear-gradient(
    180deg,
    #ed3683 0%,
    rgba(43, 124, 219, 0.81) 100%
  );
  filter: blur(125px);
} */

/* .contactGradient {
  position: absolute;
  width: 958px;
  height: 70px;
  left: 150px;
  top: 0px;

  background: linear-gradient(
    93.07deg,
    #cd5cf4 37.76%,
    rgba(14, 22, 36, 0.6) 105.53%
  );
  filter: blur(100px);
  z-index: 2;
} */

.contactContainer {
  z-index: 200;
  width: 700px;
  height: 135px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
  background: #131c2d;
  opacity: 0.81;
  border-radius: 8px;
  overflow-x: hidden;
}

.contactButton {
  background: linear-gradient(95.26deg, #0ca0e6 19.74%, #2bc7bf 76.08%);
  border-radius: 8px;
  padding: 3px 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footerline {
  margin-top: 100px;
  width: 100%;
  border: 1px solid rgba(175, 183, 197, 0.2);
  transform: rotate(-180deg);
}
